﻿body {
    direction: rtl;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: cursive;
    color: #ece6e1;
    font-size: 45px;
    text-align: center;
    background-color: #ef9209;
}

#allPage {
    visibility: hidden;
}

dialog {
    margin-top: 30%;
    border-color: #ef9209;
    color: #ef9209;
}

div#myPopup {
    color: #f9f7f5;
    background-color: #ef9209;
    display: inline-block;
    width: 200px;
}

    div#myPopup:hover {
        color: #ef9209;
        background-color: #f9f7f5;
    }

a.ui-btn.ui-btn-inline.ui-corner-all {
    border-color: #ef9209;
    border-style: solid;
    border-width: 5px;
    background-color: #fffdfd !important;
    float: right;
}

input[type="button"] {
    background-color: #ef9209;
    color: #ece6e1;
    border-radius: 7px;
    margin-left: 2%;
}

    input[type="button"]:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 #ef9209;
    }

    input[type="button"]:active {
        box-shadow: 0 5px #666 red;
        transform: translateY(2px);
    }

.ui-page.ui-page-theme-a.ui-page-active {
    background-color: #FFCC80;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: #ef9209 !important;
    color: #ece6e1 !important;
}

.ui-input-btn input {
    opacity: inherit !important;
}

.ui-btn {
    overflow: visible !important;
}

label {
    color: #f9f5f5;
}

.allOption {
    height: 50px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    width: 22%;
}

img {
    border: solid 5px #ef9209;
    height: 160px;
}
